html {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



h1{
    margin: 15px ;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(255,25,0);
    background: linear-gradient(90deg, rgba(255,25,0,1) 0%, rgba(233,253,29,1) 52%, rgba(69,214,252,1) 100%);
}


#grid-input{
    display: flex;
    justify-content:flex-end;
    align-content: center;
    flex-direction: row;
    height: 8%;
    align-items: center;
    width: 95%;
    margin: auto;
    
}

label{
    display: flex;
    padding: 5px;
    justify-content: center;
    height: auto;
    align-items: center;
    height: 80%;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;
    font-size: large;
}

input{
    height: 100%;
    width: 50%;
    margin: 0 15px;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
    font-size: x-large;
}

#grid-btn{
    height: 100%;
    width: auto;
    margin: 0;
    border-radius: 30px;
    font-size: large;
}

#container{
    height: 90%;
    width: 90%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    border:  10px outset rgb(85, 85, 85);
    flex-grow: 1;
    padding: 0;
    border-radius: 5px;
    background-color: white;
}

.row{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
}
.column{
    display: flex;
    flex: 1;
    border: 1px inset black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#colors {
    display: flex;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    width: 95%;
    border: 1px solid;
    border-radius: 30px;
    background-color: white;
}

#colors > * {
    display: flex;
    border-radius: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 45px;
    width: 45px;
    border: none;
    color: rgb(48, 44, 44);
    border: 1px solid black;
}

button{
    height: 80%;
    width: auto;
    margin: auto;
}
button:hover{
    border: 2px solid;
    transition-duration: 0.4s;
    width: auto;
    margin: auto;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#rainbow{
    color: black;
}

#eraser{
    color: black;
    background-color: white;
    border: 1px solid black;
}

#black{
    color: white;
}

footer {
    font-size: small;
    height:5%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    border: 1px solid;
    border-radius: 30px;
}
a{
    display: flex;
    width: auto;
    text-align: center;
}
img{
    height: 40px;
    width: auto;
    color: purple;
}
p{
    width: auto;
    margin: 0;
    text-overflow:ellipsis;
    text-wrap:wrap;
 
    
}